body{
    background-color: rgb(54,57,63);
    color: white;
}

body .table{
    color: white;
}

body .fa-circle-check{
    color: greenyellow;
}

body .fa-circle-xmark{
    color: red;
}

body .fa-star{
    color: gold;
}